{% extends 'base.html' %}
{% load static %}
{% block title %}已完成订单{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/bootstrap-daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content %}

    <section class="content">
        <div class="row">
            <div class="update_div">
                <a class="btn bg-blue" href="/"><i class="fa fa-clone"></i> 待出货订单</a>

                {% if request.GET.order_type == 'shipping' %}
                    <a class="btn bg-blue-active"><i class="fa fa-truck"></i> 运送中订单</a>
                {% else %}
                    <a class="btn bg-blue" href="{% url 'order_list' %}?order_type=shipping">
                        <i class="fa fa-truck"></i> 运送中订单</a>
                {% endif %}

                {% if request.GET.order_type == 'finished' %}
                    <a class="btn bg-blue-active"><i class="fa fa-check-square"></i> 已完成订单</a>
                {% else %}
                    <a class="btn bg-blue" href="{% url 'order_list' %}?order_type=finished">
                        <i class="fa fa-check-square"></i> 已完成订单</a>
                {% endif %}
                <p id="hide_order_type" style="display: none;">{{ request.GET.order_type }}</p>
            </div>
        </div>

        <div class="row">
            <div id="line-table" style="width: 100%;height:250px;"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">已发货订单
                            <small>已统计</small>
                        </h3>
                        {% csrf_token %}
                        <i id="date_range" data-min="" data-max=""></i>
                    </div>
                    <div class="box-body">
                        <table id="order_table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>时间</th>
                                <th>国家</th>
                                <th>订单号</th>
                                <th>客户名</th>
                                <th>商品总额</th>
                                <th>商品总件数</th>
                                <th>订单收入</th>
                                <th>订单利润</th>
                            </tr>
                            </thead>

                            <tfoot>
                            <tr>
                                <th>序号</th>
                                <th>时间</th>
                                <th>国家</th>
                                <th>订单号</th>
                                <th>客户名</th>
                                <th>商品总额</th>
                                <th>商品总件数</th>
                                <th>订单收入</th>
                                <th>订单利润</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div> <!-- /.box-body -->
                </div> <!-- /.box -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

    <script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <!-- 日期选择范围 -->
    <script src="{% static 'adminlet-2.4.10/bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'adminlet-2.4.10/bower_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

    <!-- 线性图 -->
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>

    <script src="{% static 'JS/jquery.cookie.js' %}"></script>
    <script src="{% static 'JS/base.js' %}"></script>

    <script>

        //定义locale汉化插件
        var locale = {
            "format": 'YY-MM-DD',
            "separator": " ~ ",
            "applyLabel": "确定",
            "cancelLabel": "取消",
            "fromLabel": "起始时间",
            "toLabel": "结束时间'",
            "customRangeLabel": "自定义",
            "weekLabel": "W",
            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            "firstDay": 1
        };

        var columnDefs = [
            {
                "targets": [0,2,5,6,7,8],
                "searchable": false
            },
            {
                "targets": [0,4,6],
                "orderable": false
            },
        ];

        // 订单利润低于2元 添加背景色
        function createdRow(row, data, index) {
            if (data.order_profit <= 2) {
                $(row).css("background-color", "#f6cbcb");
            }
        }

        // 添加下拉式筛选框
        function col_search() {
            var column = this.api().column(2);
            var select = $('<select><option value=""></option></select>')
                .appendTo($(column.footer()).empty())
                .on('change', function () {
                    var val = $(this).val();
                    column.search( val ).draw();
                });
            column.data().unique().sort().each(function (d, j){
                select.append('<option value="'+d+'">'+d+'</option>')
            });
        }

        // 统计利润（浮点数丢失精度，*100变成整数 运算完 /100）
        function total_profit(row, data, start, end, display){
            var api = this.api();
            var intVal = function (i) {
                return i*100
            };
            api.columns([5,7,8]).indexes().flatten().each(function(i){
                // 所有页数据统计
                total = api.column(i).data().reduce(function(a, b){
                        return a + intVal(b);
                    }, 0);

                // 当前页数据统计
                pageTotal = api.column(i, {page: 'current'})
                    .data().reduce(function(a, b){
                        return a + intVal(b);
                    }, 0);

                total = total / 100;
                pageTotal = pageTotal / 100; 

                // 更新表脚
                $(api.column(i).footer()).html(
                    '当前：'+ pageTotal +'<br/>全部：'+ total
                )
            })
        }

        $(function () {
            var table = $('#order_table').DataTable({
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "order": [[1, 'desc']],     <!-- 初始排序列表 -->
                "info": true,         <!-- 显示信息 -->
                "pageLength": 50,    <!-- 每页显示 -->
                "autoWidth": false,  <!-- 自动宽度 -->
                "scrollX": false,  <!-- 水平滚动 -->
                "language": language,  <!-- 语言 -->
                "columnDefs": columnDefs,  <!-- 指定列 定义属性 -->
                "createdRow": createdRow,
                <!-- 指定列 添加下拉搜索框 -->
                initComplete: col_search,
                "dom": '<"pull-left"f><"pull-right"i>rtp',
                <!-- 统计订单利润 -->
                "footerCallback": total_profit,

                // 开启服务器模式
                "serverSide": true,
                // 开启处理功能
                "processing": true,
                // 发送post请求
                "ajax": {
                    "type": 'POST',
                    "url": "{% url 'order_list' %}",
                    // 添加额外参数
                    "data": function (d) {
                        return $.extend(d, {
                            "min_date": $('#date_range').attr('data-min'),
                            "max_date": $('#date_range').attr('data-max'),
                            "order_type": $('#hide_order_type').text(),
                            "csrfmiddlewaretoken": $.cookie('csrftoken')
                        });
                    }
                },
                <!-- 自定义每一列属性 -->
                "columns": [
                    {
                        "data": null,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1
                        }
                    },
                    {"data": 'order_time'},
                    {
                        "data": 'order_country',
                        "render": function (data, type, row, meta) {
                            // meta row和col 索引信息
                            var td_obj = $(table.cell(meta.row, meta.col).node());
                            if(data === '马来西亚'){
                                td_obj.addClass('text-blue')
                            } else if (data === '菲律宾') {
                                td_obj.addClass('text-green')
                            } else if (data === '泰国') {
                                td_obj.addClass('text-purple')
                            }
                            return data
                        }
                    },
                    {"data": 'order_id'},
                    {"data": 'customer'},
                    {"data": 'total_price'},
                    {"data": 'order_g_num'},
                    {"data": 'order_income'},
                    {"data": 'order_profit'},
                ]
            });

            // 表格头部 添加日期选择框
            $('#order_table_filter').append('<label>日期范围：<div class="input-group">' +
                '<div class="input-group-addon"><i class="fa fa-calendar"></i></div>' +
                '<input type="text" class="form-control pull-right" id="reservation"></div></label>' +
                '<label><button id="clear-date-range" class="btn bg-gray">清除日期</button></label>'
            );

            //Date range picker
            $('#reservation').daterangepicker({
                'locale': locale,
                opens: 'center', // 日期选择框 显示位置
                linkedCalendars: false, // 禁止日期框前后为连续一个月，可任意选择月份
                alwaysShowCalendars: true,  // 始终显示日期选择框
                autoApply: true,  // 取消确认按钮
                ranges: {
                    '今日': [moment(), moment()],
                    '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '最近7日': [moment().subtract(6, 'days'), moment()],
                    '最近30日': [moment().subtract(29, 'days'), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                startDate: moment().subtract(6, 'days'),
                endDate: moment()

            }, function (start, end, label) {
                $('#date_range').attr('data-min', start.format('YYMMDD'))
                    .attr('data-max', end.format('YYMMDD'));
                table.ajax.reload();
                get_charts_data();
            });

            // 鼠标悬停 高亮行
            $('#order_table tbody').on('mouseover', 'tr', function () {
                $(table.row(this).node()).addClass('highlight')
            }).on('mouseleave', 'tr', function () {
                $(table.row(this).node()).removeClass('highlight')
            });

            // 清除日期筛选 绑定事件
            $('#clear-date-range').click(function () {
                $('#date_range').attr('data-min', '').attr('data-max', '');
                table.ajax.reload();
                get_charts_data();
            });

            // 加载图表数据
            get_charts_data()

        });

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('line-table'));

        function get_charts_data(){
            var start_date = $('#date_range').attr('data-min');
            var end_date = $('#date_range').attr('data-max');
            var params = {};
            if(start_date && end_date){
                params.start_date = start_date;
                params.end_date = end_date
            }
            $.get("{% url 'charts_data' %}", params, function (data) {
                myChart.setOption({
                    title: {
                        text: '各站点销量曲线图'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['马来西亚', '菲律宾', '泰国']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: data.date_list
                    },
                    yAxis: {
                        type: 'value',
                        minInterval: 1
                    },
                    series: [
                        {
                            name: '马来西亚',
                            type: 'line',
                            smooth: 0.35, // 曲线平滑度 取值0到1
                            data: data.my_value_list
                        },
                        {
                            name: '菲律宾',
                            type: 'line',
                            smooth: 0.35,
                            data: data.ph_value_list
                        },
                        {
                            name: '泰国',
                            type: 'line',
                            smooth: 0.35,
                            data: data.th_value_list
                        },
                    ],
                })
            })
        }

    </script>

{% endblock %}