{% load static %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">
        <b>{{ order_obj.get_order_country_display }}</b>&nbsp;&nbsp;&nbsp;
        订单编号：{% if order_obj %}{{ order_obj.order_id }}{% else %}无此单号信息{% endif %}</h4>
</div>
<div class="modal-body">
    {% if order_obj %}
    <div class="order-info-title">
        <span><b>客户信誉：</b>{{ order_obj.customer_info }}</span>
        <span><b>订单收入：</b>{{ order_obj.order_income }}</span>
        <span><b>订单利润：</b>{{ order_obj.order_profit }}</span>
        <p><b>备注：</b>{{ order_obj.order_desc }}</p>
    </div>
    <table id="order-info-table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>商品图片</th>
                <th>商品SKU</th>
                <th>售价</th>
                <th>数量</th>
                <th>进货价</th>
            </tr>
        </thead>
        <tbody>
        {% for good in order_obj.ordergoods_set.all %}
            <tr>
                <td><img class="good_img" src="{{ MEDIA_URL }}{{ good.sku_good.image }}" width="35" height="35"></td>
                <td>{{ good.sku_good.sku_id }}</td>
                <td>{{ good.price }}</td>
                <td>{{ good.count }}</td>
                <td>{{ good.sku_good.buy_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
