{% load static %}

    <!-- 同种商品sku选择列表 模态框 -->
    <div class="modal fade" id="skulist-Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:400px;"> role="document">
            <div class="modal-content good-img-parent">
                <div class="modal-header">
                    <button type="button" class="close" onclick="off_modal()" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">采购商品选择</h4>
                </div>
                <div class="modal-body goodsku-body">
                    <!-- 模态框内容 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框 结束 -->

<div class="modal-header" style="text-align: center">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
        {% if pur_obj %}{{ pur_obj.purchase_id }}{% else %}无此单号信息{% endif %}</h4>
    {% csrf_token %}
</div>
<div class="modal-body">
    <div class="box-content" style="padding: 0 40px;">

        <button class="btn btn-default btn-block" onclick="add_good_html(null, 0, '')"
                style="margin-bottom: 8px">新增商品</button>

        <ul id="pur_good" class="list-group">
            {% if pur_obj %}
                {% for pur_good in pur_obj.purchasegoods_set.all %}

                    <li class="list-group-item">
                        <div class="input-group">
                            <span class="input-group-addon input-group-add" style="padding: 6px 10px">
                                    <i class="fa fa-list"></i>
                            </span>
                            <span class="input-group-addon img-box" style="padding: 0;">
                                <img class="good_img" src="{{ MEDIA_URL }}{{ pur_good.sku_good.image }}" width="32" height="32">
                            </span>

                            <span class="input-group-addon">{{ pur_good.sku_good.stock }}</span>

                            <input type="text" class="form-control input-col1" value="{{ pur_good.sku_good.sku_id }}">

                            <div class="input-group input-col2">
                                <input id="good_count" type="text" class="form-control" value="{{ pur_good.count }}">
                                <div class="input-group-btn-vertical">
                                    <button class="btn btn-default input-plus" type="button"><i class="fa fa-caret-up"></i>
                                    </button>
                                    <button class="btn btn-default input-minus" type="button"><i
                                            class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                                <span class="input-group-addon input-group-del">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </div>
                        </div>
                    </li>

                {% endfor %}
            {% else %}
                <p>无此订单信息</p>
            {% endif %}
        </ul>

        <div class="form-group">
            <input type="text" id="pur_price" class="form-control" placeholder="采购总额" value="{{ pur_obj.total_price }}">
        </div>
        <div class="form-group">
            <textarea id="pur_desc" class="form-control" rows="1" placeholder="备注信息" value="{{ pur_obj.desc }}"></textarea>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" onclick="update_purchase()">确认修改</button>
</div>


<script>

    // 新增商品 html
    function add_good_html(img_path, good_stock, goodsku_id) {
        var good_html = '<li class="list-group-item">' +
            '               <div class="input-group">' +
            '                    <span class="input-group-addon input-group-add" style="padding: 6px 10px">' +
            '                        <i class="fa fa-list"></i>' +
            '                    </span>' +
            '                    <span class="input-group-addon img-box" style="padding: 0;">' +
            '                        <img class="good_img" src="' + img_path + '" width="32" height="32">' +
            '                    </span>' +
            '                    <span class="input-group-addon">' + good_stock + '</span>' +
            '                    <input type="text" class="form-control input-col1" value="' + goodsku_id + '">' +
            '                    <div class="input-group input-col2">' +
            '                        <input id="good_count" type="text" class="form-control" value="1">' +
            '                        <div class="input-group-btn-vertical">' +
            '                            <button class="btn btn-default input-plus" type="button"><i class="fa fa-caret-up"></i>' +
            '                            </button>' +
            '                            <button class="btn btn-default input-minus" type="button"><i class="fa fa-caret-down"></i>' +
            '                            </button>' +
            '                        </div>' +
            '                        <span class="input-group-addon input-group-del">' +
            '                            <i class="fa fa-trash"></i>' +
            '                        </span>' +
            '                    </div>' +
            '                </div>' +
            '            </li>';
        $('#pur_good').append(good_html);
    }

    // 输入sku 更新图片地址和库存
    $('#pur_good').on('change', '.input-col1', function () {
        var this_obj = $(this);
        var sku_id = this_obj.val();
        if (!sku_id) {
            return;
        }
        $.get("{% url 'goodsku_list' %}", params ={'sku_id': sku_id}, function (e) {
            if (!e.status) {
                var id = Object.keys(e.msg)[0];
                this_obj.prev().text(e.msg[id][0]);
                this_obj.prevAll('.img-box').children().attr('src', e.msg[id][1]);
            } else {
                showMessage(e.msg);
                this_obj.val('')
            }
        })
    });

    // 点击删除 商品
    $('.modal-content').on('click', '.input-group-del', function () {
        $(this).parents('.list-group-item').remove();
    });

    // 采购单中已有商品
    function purchase_good_data(){
        var pur_data = [];
        $('#pur_good li').each(function () {
            pur_data.push($(this).find('.input-col1').val())
        });
        return pur_data
    }

    // 同spu商品列表 加载
    $('.modal-content').on('click', '.input-group-add', function () {
        var data = {
            'sku_id': $(this).nextAll('input').val(),
            'search_type': 'all'
        };
        var pur_data = purchase_good_data();
        $.get("{% url 'goodsku_list' %}", params=data, function (e) {
            if (e.status){
                showMessage(e.msg);
            } else {
                var html_str = '<ul class="list-group goodsku-list">';
                for ( i in e.msg) {
                    html_str += '<li class="list-group-item">' +
                        '        ' +
                        '            <span id="sku_list_img" class="input-group-addon" style="padding: 0;">' +
                        '                <img class="good_img" src="' + e.msg[i][1] +
                        '                   " width="32" height="32">' +
                        '            </span>' +
                        '            <span id="sku_list_id" style="width: 235px;" class="input-group-addon">' + i +
                        '            </span>' +
                        '            <span class="input-group-addon">' + e.msg[i][0] +
                        '            </span>' +
                        '            <span class="input-group-addon purchase-good-add">' +
                        '                <i class="fa ';
                    // 已经添加的商品 不再添加
                    if ($.inArray(i, pur_data) !== -1) {
                        html_str += 'fa-plus-square'
                    } else {
                        html_str += 'fa-plus-square-o'
                    }
                    html_str +='"></i></span></li>';
                }
                html_str += '</ul>';
                $('.goodsku-body').html(html_str);
                $('#skulist-Modal').modal('show')
            }
        })

    });

    // 点击 添加商品到采购单
    $('.goodsku-body').on('click', '.purchase-good-add', function () {
        var plus_fac = $(this).children();
        if (plus_fac.hasClass('fa-plus-square-o')) {
            plus_fac.removeClass('fa-plus-square-o').addClass('fa-plus-square');
            var sku_id = $.trim($(this).prevAll('#sku_list_id').text());
            var sku_image = $.trim($(this).prevAll('#sku_list_img').children().attr('src'));
            var sku_stock = $.trim($(this).prev().text());
            //console.log(sku_id, sku_image, sku_stock);
            add_good_html(sku_image, sku_stock, sku_id)
        }


    });

    // 二级模态框隐藏
    function off_modal(){
	    $("#skulist-Modal").modal('hide');
    }
    // 二级模态框隐藏后事件，再次给body添加遮盖罩，防止一级模态框滚动条消失
    $('#skulist-Modal').on('hidden.bs.modal', function (e) {
        $('body').addClass('modal-open');
    });

    // 商品数量加
    $('#pur_good').on('click', '.input-plus', function () {
        var input_obj = $(this).parent().prev();
        input_obj.val(parseInt(input_obj.val(), 10) + 1);
    });
    // 商品数量减 直到为0
    $('#pur_good').on('click', '.input-minus', function () {
        var input_obj = $(this).parent().prev();
        var num = parseInt(input_obj.val(), 10);
        if (num <= 0) {
            input_obj.val(0);
        } else {
            input_obj.val(num - 1);
        }
    });

</script>
