{% extends 'base.html' %}
{% load static my_filter %}
{% block title %}采购清单{% endblock %}

{% block content %}

    <!-- 采购单修改 模态框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content purchase-modal good-img-parent" style="width: 680px;">
                <!-- 模态框内容 -->
            </div>
        </div>
    </div>
    <!-- 模态框 结束 -->

    <!-- 同种商品sku选择列表 模态框 -->
    <div class="modal fade" id="skulist-Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog"> role="document">
            <div class="modal-content good-img-parent">
                <div class="modal-header">
                    <button type="button" class="close" onclick="off_modal()" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">采购商品选择</h4>
                </div>
                <div class="modal-body goodsku-body">
                    <!-- 模态框内容 -->
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框 结束 -->

    <!-- 入库确认 模态框 -->
    <div class="modal stock-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">入库确认</h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <p>请确认采购单：<span id="stock-order-id" class="text-bold"></span> 的商品已清点到货</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" onclick="update_stock()" class="btn btn-primary">确认入库</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框 结束 -->

    <section class="content">
        <div class="row">
            <div class="update_div">

                <button class="btn bg-blue-active"><i class="fa fa-truck"></i> 采购中订单
                    <span class="badge bg-yellow">{{ purchase_orders | length }}</span>
                </button>

                <button class="btn bg-blue"><a href="{% url 'purchase_list' %}" style="color: #fff;">
                    <i class="fa fa-check-square"></i> 已入库订单
                    <span class="badge bg-olive">{{ stock_orders_num }}</span></a>
                </button>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">采购中清单
                            <small>未入库</small>
                        </h3>
                    </div>
                    <div class="box-body">
                        <table id="order_table" class="table table-bordered table-striped good-img-parent">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>采购单号</th>
                                <th>采购总额</th>
                                <th>备注</th>
                                <th>商品SKU</th>
                                <th>商品规格</th>
                                <th>商品链接</th>
                                <th>商品图片</th>
                                <th>采购数量</th>
                                <th>清点入库</th>
                                <th>商品进价</th>
                                <th>订单所需</th>
                                <th>商品库存</th>
                                <th>入库操作</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for purchase in purchase_orders %}
                                {% for pur_good in purchase.purchasegoods_set.all %}
                                    <tr>
                                        {% if forloop.first %}
                                            <td class="division-line">{{ forloop.parentloop.counter }}</td>
                                            <td class="pur-id division-line" data-search="{{ purchase.purchase_id }}"
                                                data-order="{{ purchase.purchase_id }}">
                                                <a class="pur-info" href="javascript:;">
                                                    {{ purchase.purchase_id }}</a>
                                            </td>
                                            <td class="division-line">{{ purchase.total_price }}</td>
                                            <td class="division-line">{{ purchase.desc }}</td>

                                            <td class="pur-good-id division-line">{{ pur_good.sku_good.sku_id }}</td>
                                            <td class="division-line">{{ pur_good.sku_good.desc }}</td>

                                            <td class="division-line">{{ pur_good.sku_good.goods.g_url }}</td>

                                            <td class="division-line">
                                                <img class="good_img" width="60" height="60"
                                                     src="{{ pur_good.sku_good.img_url }}">
                                            </td>

                                            <td class="division-line">{{ pur_good.count }}</td>

                                            <td class="division-line" style="font-size: 24px;">
                                                {% if pur_good.status %}
                                                    <i class="fa fa-check-square"></i>
                                                {% else %}
                                                    <i class="fa fa-check-square-o check-good"></i>
                                                {% endif %}
                                            </td>

                                            <td class="division-line">{{ pur_good.price }}</td>
                                            <td class="division-line" style="color: #ff0000;">
                                                {{ orders_goods | search_dict:pur_good.sku_good.sku_id }}
                                            </td>
                                            <td class="division-line" id="pur-good-stock">{{ pur_good.sku_good.stock }}</td>

                                            <td class="division-line"></td>
                                        {% else %}
                                            <td></td>
                                            <td class="pur-id" data-search="{{ purchase.purchase_id }}"
                                                data-order="{{ purchase.purchase_id }}"></td>
                                            <td></td>
                                            <td></td>

                                            <td class="pur-good-id">{{ pur_good.sku_good.sku_id }}</td>
                                            <td>{{ pur_good.sku_good.desc }}</td>

                                            <td>{{ pur_good.sku_good.goods.g_url }}</td>

                                            <td>
                                                <img class="good_img" width="60" height="60"
                                                     src="{{ pur_good.sku_good.img_url }}">
                                            </td>

                                            <td>{{ pur_good.count }}</td>

                                            <td style="font-size: 24px;">
                                                {% if pur_good.status %}
                                                    <i class="fa fa-check-square"></i>
                                                {% else %}
                                                    <i class="fa fa-check-square-o check-good"></i>
                                                {% endif %}
                                            </td>

                                            <td>{{ pur_good.price }}</td>
                                            <td style="color: #ff0000;">
                                                {{ orders_goods | search_dict:pur_good.sku_good.sku_id }}
                                            </td>
                                            <td id="pur-good-stock">{{ pur_good.sku_good.stock }}</td>

                                            <td></td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}

                            {% empty %}
                                <p>没有数据！</p>
                            {% endfor %}

                            </tbody>

                            <tfoot>
                            <tr>
                                <th>序号</th>
                                <th>采购单号</th>
                                <th>采购总额</th>
                                <th>备注</th>
                                <th>商品SKU</th>
                                <th>商品规格</th>
                                <th>商品链接</th>
                                <th>商品图片</th>
                                <th>采购数量</th>
                                <th>清点入库</th>
                                <th>商品进价</th>
                                <th>订单所需</th>
                                <th>商品库存</th>
                                <th>入库操作</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div> <!-- /.box-body -->
                </div> <!-- /.box -->
            </div> <!-- /.col -->
        </div> <!-- /.row -->

        <div class="ship_btn">
            <button type="button" class="btn btn-primary" onclick="un_pur_list()">未采购</button>
        </div>

        <!-- 未采购商品 模态框 -->
        <div class="modal" id="un-pur-Modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">未采购商品</h4>
                    </div>
                    <div class="modal-body good-img-parent" id="un-pur-table">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>图片</th>
                                <th>sku编号</th>
                                <th>规格</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for good in un_pur_goods %}
                                <tr>
                                    <td><img class="good_img" src="{{ good.img_url }}" width="35"
                                             height="35"></td>
                                    <td class="good-sku">{{ good.sku_id }}</td>
                                    <td>{{ good.desc }}</td>
                                </tr>
                            {% empty %}
                                <p>没有未采购的缺货商品</p>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button id="c_pur_btn" class="btn btn-primary btn-block">生成采购单</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框 结束 -->

    </section>

{% endblock %}

{% block script %}

    <script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/jquery.cookie.js' %}"></script>
    <script src="{% static 'JS/base.js' %}"></script>

    <script>
        var columnDefs = [
            {
                "targets": [0, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                "searchable": false
            },
            {
                "targets": [0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13],
                "orderable": false
            },
            {
                "targets": [6],
                // 列渲染 以';;'分割url 分别生成超链接
                "render": function (data, type, row) {
                    var data_html = '';
                    data = data.split(';;');
                    // 空数组作为条件是为true，换算时为false
                    if (data == false) {
                        return ''
                    } else {
                        $.each(data, function (i, v) {
                            if (v) {
                                data_html += '<a target="_blank" href="' + v + '">链接' + (i + 1) + '</a></br>'
                            }
                        });
                        return data_html;
                    }
                },
            },
            // 入库按钮
            {
                "targets": [13],
                "data": null,
                "width": '60px',
                "render": function (data, type, row) {
                    //console.log(row[1]['@data-order']);
                    if (row[1].display) {
                        return '<button onclick="stock_modal(this)" data-order="' + row[1]['@data-order'] +
                            '" class="btn btn-primary">入库</button>'
                    } else {
                        return ''
                    }
                }
            }
        ];

        // 添加下拉式筛选框 (非服务器模式使用）
        function col_search() {
            var api = this.api();
            api.columns([4]).indexes().flatten().each(function (i) {
                var column = api.column(i);
                var select = $('<select><option value=""></option></select>')
                    .appendTo($(column.footer()).empty())
                    .on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        column
                            .search(val ? '^' + val + '$' : '', true, false)
                            .draw();
                    });
                column.data().unique().sort().each(function (d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });
        }

        // 统计（浮点数丢失精度，*100变成整数 运算完 /100）
        function total_profit(row, data, start, end, display) {
            var api = this.api();
            var intVal = function (i) {
                return i * 100
            };
            api.columns([2, 8]).indexes().flatten().each(function (i) {
                // 所有页数据统计
                total = api.column(i).data().reduce(function (a, b) {
                    return a + intVal(b);
                }, 0);

                // 当前页数据统计
                pageTotal = api.column(i, {page: 'current'})
                    .data().reduce(function (a, b) {
                        return a + intVal(b);
                    }, 0);

                total = total / 100;
                pageTotal = pageTotal / 100;

                // 更新表脚
                $(api.column(i).footer()).html(
                    '<span class="text-green">当前：' + pageTotal + '</span><br/>全部：' + total
                )
            })
        }

        $(function () {
            var table = $('#order_table').DataTable({
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": false, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "order": [[1, 'desc']],     <!-- 初始排序列表 -->
                "info": true,         <!-- 显示信息 -->
                "pageLength": 50,    <!-- 每页显示 -->
                "autoWidth": false,  <!-- 自动宽度 -->
                "scrollX": false,  <!-- 水平滚动 -->
                "language": language,  <!-- 语言 -->
                <!--"columns": columns,   自定义每一列属性 -->
                "columnDefs": columnDefs,  <!-- 指定列 定义属性 -->
                "dom": '<"pull-left"f><"pull-right"i>rtp',

                <!-- 指定列 添加下拉搜索框 -->
                initComplete: col_search,
                <!-- 下表头创建回调 统计订单利润 -->
                "footerCallback": total_profit
            });

        });

        // 未采购的缺货商品 模态框
        function un_pur_list() {
            $('#un-pur-Modal').modal('show')
        }
        // 多选行，选中添加class
        $('#un-pur-table tbody').on('click', 'tr', function (){
            $(this).toggleClass('selected');
        });
        // 生成采购单
        $('#c_pur_btn').click(function () {
            if(!$('tr.selected').length) {
                showMessage('先选中');
                return
            }
            var data_list = [];
            $('#un-pur-table tbody tr.selected').each(function () {
                data_list.push($.trim($(this).children('.good-sku').text()))
            });
            $.ajax({
                url: "{% url 'buy_product' %}",
                type: 'post',
                headers: {"X-CSRFToken": $.cookie('csrftoken')},
                data: {
                    'data_list': JSON.stringify(data_list),
                },
                success: function (e) {
                    if (e.status) {
                        showMessage(e.msg);
                    } else {
                        showMessage(e.msg, 'bg-success');
                        window.setTimeout(function () {
                            location.reload()
                        }, 2100);
                    }
                }
            })
        });

        // 点击采购单号 将发起请求 渲染html填充到模态框 显示
        $('.pur-info').click(function () {
            // 去除空白符
            var pur_id = $.trim($(this).text());

            $.ajax({
                url: "{% url 'modify_purchase' %}",
                type: 'get',
                data: {
                    'pur_id': pur_id
                },
                success: function (data) {
                    $('.purchase-modal').html(data);
                    $('#myModal').modal('show');
                }
            });

        });

        // 修改采购单
        function update_purchase() {
            var pur_goods = [];
            $('#pur-good-table tr').each(function () {
                var good_info = {
                    'sku_id': $(this).find('.input-col1').val(),
                    'count': $(this).find('#good_count').val()
                };
                if (good_info.count !== '0') {
                    pur_goods.push(good_info);
                }
            });
            var data = {
                'purchase_id': $.trim($('#myModalLabel').text()),
                'purchase_price': $('#pur_price').val(),
                'purchase_desc': $('#pur_desc').val(),
                'purchase_goods': pur_goods
            };
            //console.log(data);
            $.ajax({
                url: "{% url 'modify_purchase' %}",
                type: 'post',
                headers: {"X-CSRFToken": $.cookie('csrftoken')},
                data: {
                    'data_dict': JSON.stringify(data),
                },
                success: function (e) {
                    if (e.status) {
                        $('#myModal').modal('hide');
                        showMessage(e.msg);
                    } else {
                        $('#myModal').modal('hide');
                        showMessage(e.msg, 'bg-success');
                        window.setTimeout(function () {
                            location.reload()
                        }, 2100);
                    }
                }
            })
        }

        // 采购商品 单项清点入库
        $('.check-good').click(function () {
            var this_obj = $(this);
            if (this_obj.hasClass('check-good')) {
                var data = {
                    'pur_id': this_obj.parent().prevAll('.pur-id').attr('data-order'),
                    'sku_id': $.trim(this_obj.parent().prevAll('.pur-good-id').text())
                };
                $.ajax({
                    url: "{% url 'finished_purchase' %}",
                    type: 'post',
                    headers: {"X-CSRFToken": $.cookie('csrftoken')},
                    data: {
                        'data_dict': JSON.stringify(data),
                    },
                    success: function (e) {
                        if (e.status) {
                            showMessage(e.msg);
                        } else {
                            this_obj.removeClass('fa-check-square-o check-good').addClass('fa-check-square')
                        }
                    }
                });
            }
        });

        // 入库确认模态框
        function stock_modal(obj) {
            var order_id = $(obj).attr('data-order');
            $('#stock-order-id').text(order_id);
            $('.stock-modal').modal('show')
        }

        // 入库更新
        function update_stock() {
            var pur_id = $.trim($('#stock-order-id').text());
            $.get("{% url 'finished_purchase' %}", params = {'purchase_id': pur_id}, function (e) {
                if (!e.status) {
                    showMessage(e.msg, 'bg-success');
                    window.setTimeout(function () {
                        location.reload()
                    }, 2100);
                } else {
                    showMessage(e.msg)
                }
            });
            $('.stock-modal').modal('hide')
        }

    </script>

{% endblock %}